####################################################################################################
# UTA (Universal Transcript Archive) configuration
####################################################################################################

export UTA_DB_URL=postgresql://anonymous@localhost:5433/uta/uta_20241220
